<volume type='file'>
  <name>{{ item[0] }}_{{ item[1] }}.qcow2</name>
  <key>/var/lib/libvirt/images/{{ item[0] }}_{{ item[1] }}.qcow2</key>
  <source>
  </source>
  <capacity unit='bytes'>10737418240</capacity>
  <allocation unit='bytes'>2147483648</allocation>
  <target>
    <path>/var/lib/libvirt/images/{{ item[0] }}_{{ item[1] }}.qcow2</path>
    <format type='qcow2'/>
  </target>
</volume>
