Host *.compute-1.amazonaws.com
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    User ec2-user
Host iowa
    StrictHostKeyChecking yes 
    HostName iowa.ryansb.com
    User ryansb
Host 192.168.122.*
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
Host 192.168.1.*
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null


Host pkgs.devel.redhat.com
    User rybrown
Host code.engineering.redhat.com
    User rybrown
Host collab-shell.usersys.redhat.com
    User rybrown
Host file.rdu.redhat.com
    User rybrown
Host *.lab.eng.brq.redhat.com
    StrictHostKeyChecking no
Host *.lab.eng.rdu2.redhat.com
    StrictHostKeyChecking no
Host *.lab.eng.bos.redhat.com
    StrictHostKeyChecking no
